<!DOCTYPE html>
<html>
<head>
</br>
</br>
<title>Earthquake Information API</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Home
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('earthquakes') }}">Earthquakes API</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-sm-2" type="text" placeholder="Search">
                      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                  </div>
                </div>
              </nav>
</div>
<div class="container">
        <div class="card mb-3">
                <h3 class="card-header">Earthquakes Data Collection and Analysis</h3>
                <div class="card-body">
                        <h4 class="card-title">Earthquakes API</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Collection of Earthquake Information</h6>
                        <p class="card-text">Data extracted/collected from USGS Earthquake Hazards Programs.</p>
                        <p class="card-text"><strong>Main idea is to create a data set with sufficient entried that could be used for data analysis and other manipulations. </strong>.</p>
                        <p class="card-text">Data will be updated monthly for several months. Data collection started at the end of 2021.</p>
                        <p class="card-text">Last updated: 2022-02-06</p>
                        <a href="{{ url_for('earthquakes') }}" class="card-link">Earthquakes API</a>
                        <a href="https://www.usgs.gov/programs/earthquake-hazards/earthquakes" class="card-link">USGS Earthquakes</a>
                </div>
                <div class="container">
                      <div class="card-body">
                        <h4 class="card-title">Initial Data Exploration</h4>
                        <h6 class="card-subtitle mb-2 text-muted">A look at the data to see some initial insights. </h6>
                        <p class="card-text">Data extracted/collected from USGS Earthquake Hazards Programs.</p>
                        <p class="card-text">Data was pass through Python module <a class="nav-link" href="https://github.com/fbdesignpro/sweetviz">SweetViz</a> for a quick initial visualization.</p>
                        <p class="card-text">Last updated: 2022-02-06</p>
                        <a href="{{ url_for('viz1') }}" class="card-link">Earthquakes API</a>
                        <!-- <a href="https://www.usgs.gov/programs/earthquake-hazards/earthquakes" class="card-link">USGS Earthquakes</a> -->
                      </div>
                </div>




<!-- <h2>Earthquakes API</h2>
</br>
<h3>Information collected from USGS Eathquake Hazards Programs</h3>
</br>
<p>The information can be accessed <a href="{{ url_for('earthquakes') }}">here</a>.</p>
<br>
<p>Last updated: 2022-02-06</p>
<br> -->
<br>
<p>Date/Time: <span id="datetime"></span></p><script>var dt = new Date();
        document.getElementById("datetime").innerHTML=dt.toLocaleString();</script> 
</div>
</body>
</html>