<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Machine Learning</title>
      <!-- Bootstrap -->
  <link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" id="navbar">
       <a class="navbar-brand" href="#"><img src="../static/images/logo.jpg" width="80" height="82" alt=""/></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="https://portfolio-site-main.herokuapp.com/portfolio" id="home">HOME </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="https://equake-api.herokuapp.com" id="earthquakes">Earthquakes API</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="{{ url_for('viz2') }}" id="EDA">Initial<br>EDA <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ url_for('viz1') }}" id="SV-EDA">SweetViz<br>EDA</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('viz3') }}" id="ML">Machine<br>Learning </a>
            </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/rosaicelarg" id="linkedin"><img src="../static/images/LI-In-Bug.png" width="64" height="55" alt="linkedin"/></a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://github.com/rromang" id="github"><img src="../static/images/GitHub-Mark-Light-32px.png" width="49" height="47" alt="github"/></a>
             </li>
          </ul>
       </div>
    </nav>
    <section>
      <div class="jumbotron jumbotron-fluid text-center">		  
         <h1 class="display-4" id="title">Initial Data Exploration&nbsp; </h1>
                <p class="lead" id="desc">Descriptive Statistics of Initial Data</p>
               <p class="hor-line"><img src="../static/images/Rectangle_4.png" width="892" height="14" alt=""/></p>
      </div>
  </section>
	  <hr>
	  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Descriptive Statistics for Numerical Data</h1>
		    <div class="container" id="num-data-desc">
				<table width="200" border="1" cellspacing="1" cellpadding="1" id="table-num-data-desc">
  <tbody>
    <tr>
<th scope="col"></th>
              <th scope="col">latitude</th>
              <th scope="col">longitude</th>
              <th scope="col">depth</th>
              <th scope="col">mag</th>
              <th scope="col">nst</th>
              <th scope="col">gap</th>
              <th scope="col">dmin</th>
              <th scope="col">rms</th>
              <th scope="col">horizontalError</th>
              <th scope="col">depthError</th>
              <th scope="col">magError</th>
              <th scope="col">magNst</th>
    </tr>
    <tr>
       <th>Count</th>
              <td>20,185.000</td>
              <td>20,185.000</td>
              <td>20,185.000</td>
              <td>20,180.000</td>
              <td>14,149.000</td>
              <td>16,840.000</td>
              <td>13,971.000</td>
              <td>20,184.000</td>
              <td>14,895.000</td>
              <td>20,185.000</td>
              <td>15,847.000</td>
              <td>16,821.000</td>
    </tr>
    <tr>
              <th>Mean</th>
              <td>36.405</td>
              <td>-108.781</td>
              <td>22.853</td>
              <td>1.726</td>
              <td>20.488</td>
              <td>121.256</td>
              <td>0.715</td>
              <td>0.283</td>
              <td>1.899</td>
              <td>3.615</td>
              <td>0.288</td>
              <td>14.770</td>
    </tr>
    <tr>
              <th>Std Dev</th>
              <td>19.839</td>
              <td>71.387</td>
              <td>52.951</td>
              <td>1.282</td>
              <td>15.481</td>
              <td>65.737</td>
              <td>2.251</td>
              <td>0.298</td>
              <td>3.259</td>
              <td>105.370</td>
              <td>0.552</td>
              <td>27.498</td>
    </tr>
    <tr>
              <th>min</th>
              <td>-65.362</td>
              <td>-179.999</td>
              <td>-10.000</td>
              <td>-1.310</td>
              <td>2.000</td>
              <td>10.000</td>
              <td>0.000</td>
              <td>0.000</td>
              <td>0.090</td>
              <td>0.000</td>
              <td>0.000</td>
              <td>0.000</td>
    </tr>
    <tr>
              <th>25%</th>
              <td>33.377</td>
              <td>-150.031</td>
              <td>3.420</td>
              <td>0.860</td>
              <td>9.000</td>
              <td>72.000</td>
              <td>0.022</td>
              <td>0.090</td>
              <td>0.290</td>
              <td>0.490</td>
              <td>0.104</td>
              <td>4.000</td>
    </tr>
    <tr>
              <th>50%</th>
              <td>38.174</td>
              <td>-121.253</td>
              <td>8.820</td>
              <td>1.490</td>
              <td>16.000</td>
              <td>107.000</td>
              <td>0.067</td>
              <td>0.150</td>
              <td>0.490</td>
              <td>0.800</td>
              <td>0.160</td>
              <td>8.000</td>
    </tr>
    <tr>
              <th>75%</th>
              <td>45.730</td>
              <td>-116.244</td>
              <td>18.600</td>
              <td>2.170</td>
              <td>27.000</td>
              <td>155.000</td>
              <td>0.205</td>
              <td>0.420</td>
              <td>1.150</td>
              <td>1.800</td>
              <td>0.242</td>
              <td>16.000</td>
    </tr>
    <tr>
              <th>Max</th>
              <td>85.309</td>
              <td>179.990</td>
              <td>653.870</td>
              <td>7.300</td>
              <td>189.000</td>
              <td>359.000</td>
              <td>39.750</td>
              <td>7.060</td>
              <td>54.500</td>
              <td>11,327.700</td>
              <td>5.500</td>
              <td>619.000</td>
    </tr>
  </tbody>
</table>
			  </div>
          </div>
        </div>
		   	  <hr>
      </div>
		 
    </section>  
	  
	 <section id="graphs">
	   <div class="container" id="graph">
		 <div class="row">
		   <div class="col-12 text-center" id="hist">
		     <h1>Graphs</h1>
		     <div class="container" id="histograms">
				 <h4><a href="{{ url_for('viz4') }}">Histograms</a></h4>
				<iframe id="igraph" scrolling="yes" style="border:none;" seamless="seamless" src="https://earthquake-ml-app.herokuapp.com/histograms" height="500" width="700"></iframe>
             </div>
			   		 <hr>
           </div>
         </div>
       </div>

     </section> 
	 
<!--
<section>
  <div class="container">
    <h1 id="graphs-title">Graphs</h1>
    <div class="row">
          <div class="container" id="hist">
            <h4 id="hist-title"><a href="{{ url_for('viz4') }}">Histograms</a></h4>
            <div class="card">
              <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://earthquake-ml-app.herokuapp.com/histograms" height="525" width="100%"></iframe>
            </div>
          </div>
            <div class="container">
              <h4>test</h4> 
            </div>
			</div>
<</div>
</section>
-->
  <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Information for Categorical Data</h1>
		    <div class="container" id="cat-data-desc">
				<h4>USGS Information on Types of Earthquakes Detected</h4>
				<table width="200" border="1" cellspacing="1" cellpadding="1" id="table-cat-data-desc">
                  <thead>
                  <tr>
                    <th scope="col">Earthquake Type</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>earthquake</td>
                    <td>19849</td>
                  </tr>
                  <tr>
                    <td>quarry blast</td>
                    <td>211</td>
                  </tr>
                  <tr>
                    <td>explosion</td>
                    <td>85</td>
                  </tr>
                  <tr>
                    <td>ice quake</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <td>other event</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <td>sonic boom</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>volcanic eruption</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
        </div>
      <hr>
	<div class="container" id="plc-data-desc">
				<h4>USGS Information on Top 50 Places for Earthquakes Detected</h4>
			  <table  border="1" cellspacing="1" cellpadding="1" id="table-plc-data-desc">
				  <thead>
    <tr>
      <th>Places</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rat Islands, Aleutian Islands, Alaska</td>
      <td>247</td>
    </tr>
    <tr>
      <td>8km NW of The Geysers, CA</td>
      <td>236</td>
    </tr>
    <tr>
      <td>7km NW of The Geysers, CA</td>
      <td>169</td>
    </tr>
    <tr>
      <td>off the coast of Oregon</td>
      <td>158</td>
    </tr>
    <tr>
      <td>6km NW of The Geysers, CA</td>
      <td>143</td>
    </tr>
    <tr>
      <td>8km WNW of Cobb, CA</td>
      <td>141</td>
    </tr>
    <tr>
      <td>5 km SW of Volcano, Hawaii</td>
      <td>118</td>
    </tr>
    <tr>
      <td>9km WNW of Cobb, CA</td>
      <td>117</td>
    </tr>
    <tr>
      <td>3km NNW of Palomar Observatory, CA</td>
      <td>110</td>
    </tr>
    <tr>
      <td>South Sandwich Islands region</td>
      <td>105</td>
    </tr>
    <tr>
      <td>16 km SSE of Sunnyside, Utah</td>
      <td>99</td>
    </tr>
    <tr>
      <td>15 km SSE of Sunnyside, Utah</td>
      <td>92</td>
    </tr>
    <tr>
      <td>23km SSW of La Quinta, CA</td>
      <td>90</td>
    </tr>
    <tr>
      <td>4km W of Cobb, CA</td>
      <td>84</td>
    </tr>
    <tr>
      <td>35 km SE of Mina, Nevada</td>
      <td>83</td>
    </tr>
    <tr>
      <td>34 km SE of Mina, Nevada</td>
      <td>83</td>
    </tr>
    <tr>
      <td>10km NW of The Geysers, CA</td>
      <td>80</td>
    </tr>
    <tr>
      <td>8km W of Cobb, CA</td>
      <td>79</td>
    </tr>
    <tr>
      <td>10km WNW of The Geysers, CA</td>
      <td>76</td>
    </tr>
    <tr>
      <td>26 km SW of Mina, Nevada</td>
      <td>70</td>
    </tr>
    <tr>
      <td>7km W of Cobb, CA</td>
      <td>68</td>
    </tr>
    <tr>
      <td>2km NNW of The Geysers, CA</td>
      <td>68</td>
    </tr>
    <tr>
      <td>11km NE of Coso Junction, CA</td>
      <td>65</td>
    </tr>
    <tr>
      <td>13km WNW of Anza, CA</td>
      <td>65</td>
    </tr>
    <tr>
      <td>Izu Islands, Japan region</td>
      <td>63</td>
    </tr>
    <tr>
      <td>7km WNW of Cobb, CA</td>
      <td>61</td>
    </tr>
    <tr>
      <td>2km NW of The Geysers, CA</td>
      <td>61</td>
    </tr>
    <tr>
      <td>16 km WSW of Dutch Harbor, Alaska</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Island of Hawaii, Hawaii</td>
      <td>59</td>
    </tr>
    <tr>
      <td>5km NW of The Geysers, CA</td>
      <td>58</td>
    </tr>
    <tr>
      <td>Kermadec Islands region</td>
      <td>58</td>
    </tr>
    <tr>
      <td>6km W of Cobb, CA</td>
      <td>57</td>
    </tr>
    <tr>
      <td>9 km ENE of Pāhala, Hawaii</td>
      <td>55</td>
    </tr>
    <tr>
      <td>8 km E of Pāhala, Hawaii</td>
      <td>55</td>
    </tr>
    <tr>
      <td>6 km SW of Volcano, Hawaii</td>
      <td>55</td>
    </tr>
    <tr>
      <td>6 km ENE of Pāhala, Hawaii</td>
      <td>52</td>
    </tr>
    <tr>
      <td>7 km E of Pāhala, Hawaii</td>
      <td>52</td>
    </tr>
    <tr>
      <td>31 km SE of Mina, Nevada</td>
      <td>51</td>
    </tr>
    <tr>
      <td>6 km E of Pāhala, Hawaii</td>
      <td>50</td>
    </tr>
    <tr>
      <td>7 km ENE of Pāhala, Hawaii</td>
      <td>48</td>
    </tr>
    <tr>
      <td>37 km NNE of Amboy, Washington</td>
      <td>47</td>
    </tr>
    <tr>
      <td>22 km E of Honaunau-Napoopoo, Hawaii</td>
      <td>46</td>
    </tr>
    <tr>
      <td>4 km S of Pāhala, Hawaii</td>
      <td>44</td>
    </tr>
    <tr>
      <td>10 km ENE of Pāhala, Hawaii</td>
      <td>44</td>
    </tr>
    <tr>
      <td>8 km ENE of Pāhala, Hawaii</td>
      <td>42</td>
    </tr>
    <tr>
      <td>23km ESE of Anza, CA</td>
      <td>41</td>
    </tr>
    <tr>
      <td>9km ENE of Coso Junction, CA</td>
      <td>40</td>
    </tr>
    <tr>
      <td>55 km S of Whites City, New Mexico</td>
      <td>40</td>
    </tr>
    <tr>
      <td>30 km SSE of Mina, Nevada</td>
      <td>40</td>
    </tr>
    <tr>
      <td>24km SSW of La Quinta, CA</td>
      <td>39</td>
    </tr>
  </tbody>
</table>  
</div>
		<hr>
		<div class="container" id="mag-data-desc">
				  <h4>USGS Information on Magnitude Type for Earthquakes Detected</h4>
			  <table  border="1" cellspacing="1" cellpadding="1" id="table-mag-data-desc">
                    <thead>
                      <tr>
                        <th scope="col">Mag Type</th>
                        <th scope="col">Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>ml</th>
                        <td>11427</td>
                      </tr>
                      <tr>
                        <th>md</th>
                        <td>6389</td>
                      </tr>
                      <tr>
                        <th>mb</th>
                        <td>2022</td>
                      </tr>
                      <tr>
                        <th>mww</th>
                        <td>216</td>
                      </tr>
                      <tr>
                        <th>mb_lg</th>
                        <td>48</td>
                      </tr>
                      <tr>
                        <th>mwr</th>
                        <td>40</td>
                      </tr>
                      <tr>
                        <th>mw</th>
                        <td>20</td>
                      </tr>
                      <tr>
                        <th>mh</th>
                        <td>14</td>
                      </tr>
                      <tr>
                        <th>mlg</th>
                        <td>1</td>
                      </tr>
                      <tr>
                        <th>mlr</th>
                        <td>1</td>
                      </tr>
                      <tr>
                        <th>mwb</th>
                        <td>1</td>
                      </tr>
                      <tr>
                        <th>ms_20</th>
                        <td>1</td>
                      </tr>
				  </tbody>
                    </table>
				  </div>
			  <hr>
			  
			  		<div class="container" id="src-data-desc">
				  <h4>USGS Information on Location Source for Earthquakes Detected</h4>
			  <table  border="1" cellspacing="1" cellpadding="1" id="table-src-data-desc"
                    <thead>
                      <tr>
                        <th scope="col">Location Source</th>
                        <th scope="col">Count</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>nc</th>
                        <td>3850</td>
                      </tr>
                      <tr>
                        <th>ak</th>
                        <td>3343</td>
                      </tr>
                      <tr>
                        <th>ci</th>
                        <td>3245</td>
                      </tr>
                      <tr>
                        <th>us</th>
                        <td>2692</td>
                      </tr>
                      <tr>
                        <th>hv</th>
                        <td>1905</td>
                      </tr>
                      <tr>
                        <th>nn</th>
                        <td>1522</td>
                      </tr>
                      <tr>
                        <th>av</th>
                        <td>758</td>
                      </tr>
                      <tr>
                        <th>uu</th>
                        <td>642</td>
                      </tr>
                      <tr>
                        <th>pr</th>
                        <td>537</td>
                      </tr>
                      <tr>
                        <th>mb</th>
                        <td>453</td>
                      </tr>
                      <tr>
                        <th>ok</th>
                        <td>432</td>
                      </tr>
                      <tr>
                        <th>uw</th>
                        <td>420</td>
                      </tr>
                      <tr>
                        <th>tx</th>
                        <td>295</td>
                      </tr>
                      <tr>
                        <th>nm</th>
                        <td>55</td>
                      </tr>
                      <tr>
                        <th>se</th>
                        <td>36</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
			  <hr>
				 
        </div>
      </div>
	  </div>
    </section>  	  
	<hr>  
	           
	   
<!--<------->
<footer class="text-center" id="footer">
               <div class="container">
                 <div class="row">
                   <div class="col-12">
                     <p id="copy">Copyright © R. Roman. All rights reserved.</p>
                  <p id="date"><script>
                      var today = new Date; document.getElementById('date').innerHTML= today.toDateString();</script>
                      </p> 
                   </div>
                 </div>
               </div>
             </footer>
             <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
             <script src="js/jquery-3.4.1.min.js"></script>
         
             <!-- Include all compiled plugins (below), or include individual files as needed --> 
             <script src="js/popper.min.js"></script>
             <script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>