<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Machine Learning</title>
      <!-- Bootstrap -->
  <link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" id="navbar">
       <a class="navbar-brand" href="#"><img src="../static/images/logo.jpg" width="80" height="82" alt=""/></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="https://portfolio-site-main.herokuapp.com/portfolio" id="home">HOME </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="https://equake-api.herokuapp.com" id="earthquakes">Earthquakes API</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="{{ url_for('viz2') }}" id="EDA">Initial<br>EDA</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ url_for('viz1') }}" id="SV-EDA">SweetViz<br>EDA</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('viz3') }}" id="ML">Machine<br>Learning <span class="sr-only">(current)</span></a>
            </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/rosaicelarg" id="linkedin"><img src="../static/images/LI-In-Bug.png" width="64" height="55" alt="linkedin"/></a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://github.com/rromang" id="github"><img src="../static/images/GitHub-Mark-Light-32px.png" width="49" height="47" alt="github"/></a>
             </li>
          </ul>
       </div>
    </nav>
    <section>
      <div class="jumbotron jumbotron-fluid text-center">		  
         <h1 class="display-4" id="title">Machine Learning </h1>
                <p class="lead" id="desc">Earthquake Prediction</p>
               <p class="hor-line"><img src="../static/images/Rectangle_4.png" width="892" height="14" alt=""/></p>
             </div>
             </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1>Regression Model </h1>
			  <h4><i>Extra Trees Regressor Model</i></h4>
            <p>This ensemble model was used for training a model to predict features from the USGS Earthquake data collected.</p>
			  <p>The features used for training the model were:</p>
  <ul id="features">
    <li>Magnitude</li>
    <li>Latitude</li>
    <li>Longitude</li>
    <li>Depth</li>
	  <li>Time (converted to Unix)</li>
			  </ul>
	<p>The model was run 9 times with alternating predictors and target features.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="features-combo 1">
      <div class="container mt-2">
		  <hr>
        <div class="row">
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Magnitude Prediction:</b></h5>
					<br>
                        <ul>
      <li>Magnitude (y)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>
      <li>Unix Time (x)</li>
    </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
                          <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Magnitude Prediction (No Unix Time):</b></h5>
                        <ul>
      <li>Magnitude (y)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>

    </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Latitude Prediction:</b></h5>
					<br>
                        <ul>
      <li>Magnitude (x)</li>
      <li>Latitude (y)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>
      <li>Unix Time (x)</li>
    </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
 <section id="features-combo 2">
      <div class="container mt-2">
        <div class="row">
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Latitude Prediction (No Unix Time):</b></h5>

                        <ul>
      <li>Magnitude (x)</li>
      <li>Latitude (y)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>

    </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
                          <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Longitude Prediction:</b></h5>
                        <ul>
      <li>Magnitude (x)</li>
      <li>Latitude (x)</li>
      <li>Longitude (y)</li>
      <li>Depth (x)</li>
	 <li>Unix Time (x)</li>
							

    </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Longitude Prediction (No Unix Time):</b></h5>
	
                        <ul>
      <li>Magnitude (x)</li>
      <li>Latitude (y)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>
    </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
	 <section id="features-combo 3">
      <div class="container mt-2">
        <div class="row">
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Depth Prediction:</b></h5>

                        <ul>
      <li>Magnitude (x)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (y)</li>
	<li>Unix Time (x)</li>

    </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
                          <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Depth Prediction (No Unix Time):</b></h5>
                        <ul>

      <li>Magnitude (x)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (y)</li>					

    </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-12">
            <ul class="list-unstyled">
              <li class="media">
                <div class="media-body">
                  <h5 class="mt-0 mb-1"><b>Unix Time Prediction:</b></h5>
                        <ul>
      <li>Magnitude (x)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>
	<li>Unix Time (y)</li>
    </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
		  	  <hr>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Latest Work</h2>
            <p>The current models were run with 50,000+ rows. The test dataset portion is 33% of the rows from the total dataset. The number of estimators was a max of 80. The code will use the number of estimators with the best score and use that model to predict the target.</p>
			             <p>Latitude model with all the features had the best performance, with the model explaining ~90% of the variability from the predictor features.</p>
			  <p>The next best model in terms of performance was depth without time as a predictor. This model was ~86% score.</p>
			  <p>As expected, the model to predict time perform dismally, with essentially no variability explained by it.</p>
			  			<hr>
          </div>

        </div>
        <div class="row" id="graphs-1">
          <div class="col-md-6 col-12 text-center">
			  <a href="../static/images/extratrees_depnotime_linear_sns.png" target="_blank">
    <img class="img-fluid" src="../static/images/extratrees_depnotime_linear_sns.png" id="depnotime-linear" alt=""
        style="width: 37rem;max-width: 100%;height: auto;vertical-align: 
        middle;border-style: none;">
</a>
            <h4>Depth Prediction (No Unix Time)</h4>
            <h6>Performance Info:</h6>
			  <br>
			  <div class="container" id="table-dep-notime">
			  <table width="300" border="1" id="table-depnotime">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>62</td>
      <td>6.835</td>
      <td>20.184</td>
      <td>0.855</td>
    </tr>
  </tbody>
</table>
 </div>

          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
			  <a href="../static/images/extratrees_depnotime_linear_sns_daily.png" target="_blank">
    <img class="img-fluid" src="../static/images/extratrees_depnotime_linear_sns_daily.png" id="depnotime-linear-daily" alt=""
        style="width: 37rem;max-width: 100%;height: auto;vertical-align: 
        middle;border-style: none;">
</a>
            <h4>Depth Prediction Daily Data from USGS (No Unix Time)</h4>
            <h6>Performance Info:</h6>

			  			  <div class="container" id="table-dep-notime-daily">
							  			
			  <table width="300" border="1" id="table-depnotime-daily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>15.774</td>
      <td>0.889</td>
    </tr>
  </tbody>
</table>
 </div>
		
          </div>
        </div>
		  	  	  <hr>
		         <div class="row" id="graphs-2">
          <div class="col-md-6 col-12 text-center">
            			  <a href="../static/images/extratrees_dep_linear_sns.png" target="_blank">
    <img class="img-fluid" src="../static/images/extratrees_dep_linear_sns.png" id="depth-linear" alt=""
        style="width: 37rem;max-width: 100%;height: auto;vertical-align: 
        middle;border-style: none;">
</a>
            <h4>Depth Prediction</h4>
            <h6>Performance Info:</h6>
			  			  <div class="container" id="table-dep">
			  <table width="300" border="1" id="tabledep">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>80</td>
      <td>7.100</td>
      <td>20.422</td>
      <td>0.852</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>

          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
         			  <a href="../static/images/extratrees_depth_linear_sns_daily.png" target="_blank">
    <img class="img-fluid" src="../static/images/extratrees_depth_linear_sns_daily.png" id="depth-linear-daily" alt=""
        style="width: 37rem;max-width: 100%;height: auto;vertical-align: 
        middle;border-style: none;">
</a>
            <h4>Depth Prediction Daily Data from USGS</h4>
            <h6>Performace info:</h6>
			  			  			  <div class="container" id="table-dep-daily">
							  			
			  <table width="300" border="1" id="table-depdaily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>30.996</td>
      <td>0.574</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
        </div>
		  <hr>
		  		         <div class="row">
          <div class="col-md-6 col-12 text-center">
			  <a href="../static/images/extratrees_extratrees_lat_linear_sns.png" target="_blank">
				  <img class="img-fluid" src="../static/images/extratrees_lat_linear_sns.png" alt=""></a>
            <h4>Latitude Prediction</h4>
            <h6>Performance Info:</h6>
			  			  			  <div class="container" id="table-lat">
			  <table width="300" border="1" id="tablelat">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>62</td>
      <td>1.814</td>
      <td>6.343</td>
      <td>0.903</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
			  <a href="../static/images/extratrees_extratrees_lat_linear_sns_daily.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_lat_linear_sns_daily.png" alt=""></a>
            <h4>Latitude Prediction Daily Data from USGS</h4>
            <h6>Performance Info:</h6>
			  			  			  			  <div class="container" id="table-lat-daily">
							  			
			  <table width="300" border="1" id="table-latdaily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>12.543</td>
      <td>0.583</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
        </div>
		  <hr>
		  		         <div class="row">
          <div class="col-md-6 col-12 text-center">
			  <a href="../static/images/extratrees_extratrees_latnotime_linear_sns.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_latnotime_linear_sns.png" alt=""></a>
            <h4>Latitude Prediction (No Unix Time)</h4>
            <h6>Prediction Info:</h6>
			  			  			  <div class="container" id="table-lat-notime">
			  <table width="300" border="1" id="tablelat-notime">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>80</td>
      <td>1.851</td>
      <td>6.754</td>
      <td>0.890</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
			  <a href="../static/images/extratrees_extratrees_latnotime_linear_sns_daily.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_latnotime_linear_sns_daily.png" alt=""></a>
            <h4>Latitude Prediction Daily Data from USGS (No Unix Time)</h4>
            <h6>Prediction Info:</h6>
			  			  			  			  <div class="container" id="table-latnotime-daily">
							  			
			  <table width="300" border="1" id="table-lat-notime-daily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>7.933</td>
      <td>0.834</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
        </div>
		  <hr>
		  		         <div class="row">
          <div class="col-md-6 col-12 text-center">
		    <a href="../static/images/extratrees_extratrees_lon_linear_sns.png" target="_blank">
				  <img class="img-fluid" src="../static/images/extratrees_lon_linear_sns.png" alt=""></a>
            <h4>Longitude Prediction</h4>
            <h6>Performance Info:</h6>
		    <div class="container" id="table-lon">
			  <table width="300" border="1" id="tablelon">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>80</td>
      <td>8.799</td>
      <td>31.097&nbsp;</td>
      <td>0.816</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
			  <a href="../static/images/extratrees_lon_linear_sns_daily.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_lon_linear_sns_daily.png" alt=""></a>
            <h4>Longitude Prediction Daily Data from USGS</h4>
            <h6>Performance Info:</h6>
			  			  			  			  <div class="container" id="table-lon-daily">
							  			
			  <table width="300" border="1" id="table-londaily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>39.319</td>
      <td>0.765</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
        </div>
		  <hr>
		  		         <div class="row">
          <div class="col-md-6 col-12 text-center">
			  <a href="../static/images/extratrees_lonnotime_linear_sns.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_lonnotime_linear_sns.png" alt=""></a>
            <h4>Longitude Prediction (No Unix Time)</h4>
            <h6>Performace Info:</h6>
			  			  			  <div class="container" id="table-lon-notime">
			  <table width="300" border="1" id="tablelon-notime">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>80</td>
      <td>8.728</td>
      <td>33.021</td>
      <td>0.795</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
			  <a href="../static/images/extratrees_lonnotime_linear_sns_daily.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_lonnotime_linear_sns_daily.png" alt=""></a>
            <h4>Longitude Prediction Daily Data from USGS (No Unix Time)</h4>
            <h6>Performace Info:</h6>
			  			  			  			  <div class="container" id="table-lonnotime-daily">
							  			
			  <table width="300" border="1" id="table-lon-notime-daily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>36.478</td>
      <td>0.765</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
        </div>
		  <hr>
		  		         <div class="row">
          <div class="col-md-6 col-12 text-center">
			  <a href="../static/images/extratrees_time_linear_sns.png" target="_blank">
				  <img class="img-fluid" src="../static/images/extratrees_time_linear_sns.png" alt=""></a>
            <h4>Unix Time Prediction</h4>
            <h6>Performance Info:</h6>
			  			  			  <div class="container" id="table-time">
			  <table width="300" border="1" id="tabletime">
  <tbody>
    <tr>
      <th scope="col"># Estimators</th>
      <th scope="col">MAE</th>
      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>
      <td>80</td>
      <td>&nbsp;3572006</td>
      <td>4407181</td>
      <td>0.028</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
          <div class="col-md-6 col-12 text-center mt-md-0 mt-2">
			  <a href="../static/images/extratrees_time_linear_sns_daily.png" target="_blank">
            <img class="img-fluid" src="../static/images/extratrees_time_linear_sns_daily.png" alt=""></a>
            <h4>Unix Time Prediction Daily Data USGS</h4>
            <h6>Performance Info:</h6>
			  			  			  			  <div class="container" id="table-time-daily">
							  			
			  <table width="300" border="1" id="table-timedaily">

  <tbody>
    <tr>

      <th scope="col">RMSE</th>
      <th scope="col">R-squared</th>
    </tr>
    <tr>

      <td>10979580</td>
      <td>-209818</td>
    </tr>
  </tbody>
</table>
 </div>
          </div>
        </div>


      </div>
    </section>
    <hr>

                      <footer class="text-center" id="footer">
               <div class="container">
                 <div class="row">
                   <div class="col-12">
                     <p id="copy">Copyright © R. Roman. All rights reserved.</p>
                  <p id="date"><script>
                      var today = new Date; document.getElementById('date').innerHTML= today.toDateString();</script>
                      </p> 
                   </div>
                 </div>
               </div>
             </footer>
             <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
             <script src="js/jquery-3.4.1.min.js"></script>
         
             <!-- Include all compiled plugins (below), or include individual files as needed --> 
             <script src="js/popper.min.js"></script>
             <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>