<!DOCTYPE html>
<html>
<head>
  
</br>
</br>
<title>Earthquakes Data: Initial Data Exploration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


      </head>

<body>
<div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Links</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              
                  <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('welcome') }}">Home
                          <!-- <span class="visually-hidden">(current)</span> -->
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('earthquakes') }}">Earthquakes API</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('viz2') }}">Initial Data Exploration</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('viz1') }}">Initial Data Exploration: SweetViz</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('viz3') }}">Machine Learning</a>
                      </li>
                  </div>
                </div>
              </nav>
</div>
<br>
<!-- <div class="container">
<div class="container-fluid">
  <button type="button" class="btn btn-outline-primary"><a href="#descr-stats">Descriptive Stats</a></button>
  <button type="button" class="btn btn-outline-primary"><a href="#categorical">Categorical Data</a></button>
  <button type="button" class="btn btn-outline-primary"><a href="#graphs">Graphs</a></button>
  <hr>
</div>
</div> -->

</div>

<br>
<style>h3 {text-align: center;}
h4 {
  text-align: center;
}
div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<br>
<div class="container">
<h3>Machine Learning</h3>
<hr>
<div class="row">
  <h4>Extra Trees Regressor Model</h4>
  <br>
  <p>This ensemble model was used for training a model to predict features from the USGS Earthquake data collected.</p>
  <br>
  <p>The features used for training the model were:</p>
  <ul>
    <li>Magnitude</li>
    <li>Latitude</li>
    <li>Longitude</li>
    <li>Depth</li>
    <li>Time (converted to Unix)</li>
  </ul>
  <br>
  <p>The model was run 9 times with the predicted feature alternatining as follows:</p>
</div>

<div class="row">
  <div class="column" >
    <h6 class="mb-1">Magnitude Prediction</h6>
      <ul>
      <li>Magnitude (y)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>
      <li>Unix Time (x)</li>
    </ul>
    <h6 class="mb-1">Latitude Prediction</h6>
    <ul>
    <li>Magnitude (x)</li>
    <li>Latitude (y)</li>
    <li>Longitude (x)</li>
    <li>Depth (x)</li>
    <li>Unix Time (x)</li>
  </ul>
  <h6 class="mb-1">Longitude Prediction</h6>
    <ul>
    <li>Magnitude (x)</li>
    <li>Latitude (x)</li>
    <li>Longitude (y)</li>
    <li>Depth (x)</li>
    <li>Unix Time (x)</li>
  </ul>
  <h6 class="mb-1">Depth Prediction</h6>
    <ul>
    <li>Magnitude (x)</li>
    <li>Latitude (x)</li>
    <li>Longitude (x)</li>
    <li>Depth (y)</li>
    <li>Unix Time (x)</li>
  </ul>
  <h6 class="mb-1">Unix Time Prediction</h6>
  <ul>
  <li>Magnitude (x)</li>
  <li>Latitude (x)</li>
  <li>Longitude (x)</li>
  <li>Depth (x)</li>
  <li>Unix Time (y)</li>
</ul>
  </div>
  <div class="column">
    <h6 class="mb-1">Magnitude Prediction - No Unix Time</h6>
      <ul>
      <li>Magnitude (y)</li>
      <li>Latitude (x)</li>
      <li>Longitude (x)</li>
      <li>Depth (x)</li>
    </ul>
    <h6 class="mb-1">Latitude Prediction - No Unix Time</h6>
    <ul>
    <li>Magnitude (x)</li>
    <li>Latitude (y)</li>
    <li>Longitude (x)</li>
    <li>Depth (x)</li>
  </ul>
  <h6 class="mb-1">Longitude Prediction - No Unix Time</h6>
  <ul>
  <li>Magnitude (x)</li>
  <li>Latitude (x)</li>
  <li>Longitude (y)</li>
  <li>Depth (x)</li>
</ul>
<h6 class="mb-1">Depth Prediction - No Unix Time</h6>
<ul>
<li>Magnitude (x)</li>
<li>Latitude (x)</li>
<li>Longitude (x)</li>
<li>Depth (y)</li>
</ul>
  </div>
</div>

</div>
<hr>
<div class="row" id="etrees-graphs">
  <h4>Extra Trees Regressor Model Graphs</h4>
  <br>
  <div class="container">
    <h4><em>Predicting Magnitude (Features: Latitude, Longitude, Depth and Unix Time)</em></h4>
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="column">
            <img src="static/images/extratrees_mag_linear_sns.png" width="600" height="400" alt="etrees-mag">
      
          </div>
          <div class="column">
              <img src="static/images/extratrees_mag_linear_sns_daily.png" width="600" height="400" alt="etrees-mag-daily">
          </div>
          <p>The models will be run with larger datasets as time goes by to assess if they become better with a larger dataset.</p>
      </div>
      <div class="container">
        <div class="card">
          <div class="container">
      <table class="table table-hover" id="table-historical-model">
        <style>
          table, td, th {
            border: 1px solid black;
          }
          table {
            border-collapse: collapse;
            table-layout: auto;
            width: 180px;
          }
          </style>
          <h4>Historical Information About Model Performance</h4>
        <thead>
          <tr style="text-align: left;">
            <th scope="col">Date</th>
            <th scope="col">Count of Data Rows</th>
            <th scope="col">RMSE</th>
            <th scope="col">MAE</th>
            <th scope="col">R-squared Actual vs Predicted Test Set</th>
            <th scope="col">R-squared Actual vs Predicted Daily Set</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">
            <td>2022-03-14</th>
            <td>28335</td>
            <td>0.478</td>
            <td>0.348</td>
            <td>0.861</td>
            <td>0.835</td>
          </tr>
          <tr class="table-info">
            <td>2022-03-17</th>
            <td>33894</td>
            <td>0.476</td>
            <td>0.348</td>
            <td>0.861</td>
            <td>0.917</td>
          </tr>
        </tbody>
      </table>
          </div>
        </div>
      </div>
  </div>
    </div>
  </div>
  <div class="container">
    <h4><em>Predicting Magnitude (Features: Latitude, Longitude and Depth)</em></h4>
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="column">
            <img src="static/images/extratrees_mag_notime_linear.png" width="600" height="400" alt="etrees-mag-notime">
      
          </div>
          <div class="column">
              <img src="static/images/extratrees_mag_notime_linear_sns.png" width="600" height="400" alt="etrees-mag-notime-daily">
          </div>
          <p>The models will be run with larger datasets as time goes by to assess if they become better with a larger dataset.</p>
          <br>
          <p>This model does not take time into account as one of the features for training the model.</p>
      </div>
      <div class="container">
        <div class="card">
          <div class="container">
      <table class="table table-hover" id="table-historical-model">
        <style>
          table, td, th {
            border: 1px solid black;
          }
          table {
            border-collapse: collapse;
            table-layout: auto;
            width: 180px;
          }
          </style>
          <h4>Historical Information About Model Performance</h4>
        <thead>
          <tr style="text-align: left;">
            <th scope="col">Date</th>
            <th scope="col">Count of Data Rows</th>
            <th scope="col">RMSE</th>
            <th scope="col">MAE</th>
            <th scope="col">R-squared Actual vs Predicted Test Set</th>
            <th scope="col">R-squared Actual vs Predicted Daily Set</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">
            <td>2022-03-11</th>
            <td>28329</td>
            <td>0.495</td>
            <td>--</td>
            <td>0.851</td>
            <td>0.823</td>
          </tr>
          <tr class="table-info">
            <td>2022-03-17</th>
            <td>33894</td>
            <td>0.476</td>
            <td>0.348</td>
            <td>0.861</td>
            <td>0.949</td>
          </tr>
        </tbody>
      </table>
          </div>
        </div>
      </div>
  </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="container">
      <footer>
        <p>Updated Date/Time: <span id="datetime"></span></p><script>var dt = new Date();
        document.getElementById("datetime").innerHTML=dt.toLocaleString();</script> 
      </footer>
    </div>
  </div>
</div>

</body>
</html>